<div class="container py-[20px] ">
    {% comment %} logo {% endcomment %}
    
    <h1 class="font-volkhov text-primary text-[52px] font-normal leading-[52px]">FASCO</h1>

    {% comment %} menu list {% endcomment %}
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        
        
    </ul>






    
   
</div>


{% comment %} schema {% endcomment %}

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "logo",
            "label": "Logo",
            "default": "FASCO"
        },
      
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        }
       
        ]
}
{% endschema %}






