<div class="container py-[20px] flex items-center justify-between ">
    {% comment %} logo {% endcomment %}
    
    <h1 class="font-volkhov text-primary text-[52px] font-normal leading-[52px]">
        {{ section.settings.logo }}
    </h1>

   <div>
     {% comment %} menu list {% endcomment %}
    <ul class="flex items-center gap-x-[70.42px]">
        {% for link in linklists[section.settings.menu].links %}
            <li>
                <a href="{{ link.url }}" class="text-primary text-[16px] font-normal leading-normal font-poppins">{{ link.title }}</a>
            </li>
        {% endfor %}
       
        
        
    </ul>
   </div>






    
   
</div>


{% comment %} schema {% endcomment %}

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "logo",
            "label": "Logo",
            "default": "FASCO"
        },
      
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        }
       
        ]
}
{% endschema %}






